@import "../../../shared/index.scss";

.container {
  @extend %template-container;
}

.line {
  padding: 50px 0;
  border-top: 1px solid rgba($color-sofia, $opacity-bana);

  &_first {
    display: flex;
    justify-content: space-between;
  }

  &_second {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 0;
  }
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 290px;
  @include set-font(15px, 20px);

  .title {
    color: $color-sofia;
    font-weight: 700;
  }
  .link {
    display: inline-block;
    @extend %template-link;
    margin-top: 10px;
  }
  .activate {
    font-weight: 500;
    background: -webkit-linear-gradient(left, $color-madrid, $color-york);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
  }
  p {
    margin-top: 10px;
    opacity: $opacity-tesa;
  }

  &.watch {
    text-align: center;

    .megaphone {
      display: flex;
      margin: 0 auto;
      align-items: center;
      justify-content: center;

      background: radial-gradient($color-york, darken($color-york, 10%));
      box-shadow: 0 0 104px $color-york;

      height: 104px;
      width: 104px;
      border-radius: 20px;

      position: relative;
    }

    p {
      margin-top: 35px;
    }
  }
}

.button {
  @extend %template-link-button;

  &_textInChat {
    width: 196px;
    margin-top: 16px;
  }
}

.supportContactsBlock {
  display: flex;
  margin-top: 16px;
  gap: 16px;
}

.ask {
  color: $color-sofia;

  margin-top: 30px;
  transition: ease-in-out 0.4s;

  &:hover {
    color: rgba($color-sofia, $opacity-hemza);
  }
}

.mailCall,
.socials {
  @extend %template-link-button;
  height: 40px;
  width: 40px;
}

.socials {
  border-radius: 50%;
}

.devicesBlock,
.socialsBlock {
  display: flex;
  gap: 12px;
}

.copyright {
  color: rgba($color-sofia, $opacity-tesa);
  @include set-font(15px, 20px, 400);

  padding-top: 32px;
  padding-bottom: 40px;
}

.mail,
.phone,
.megaphone,
.smartTV,
.allDevices {
  font-family: IconFont;
}

%template-megaphone {
  color: $color-sofia;
  @include set-font(56px, 56px);
}

.megaphone::before {
  content: "\E273";
  position: absolute;

  @extend %template-megaphone;
}

.megaphone::after {
  content: "\E274";
  position: absolute;

  @extend %template-megaphone;
}

.mail::before {
  content: "\E0D8";
  color: $color-sofia;
  @include set-font(16px, 16px);
}

.phone::before {
  content: "\E06A";
  color: $color-sofia;
  @include set-font(16px, 16px);
}

.smartTV::before {
  content: "\E361";
}

.allDevices::before {
  content: "\E02B";
}

@media (max-width: 1160px) {
  .container {
    display: none;
  }
}
