@import "../../styles/vars.scss";

@mixin centeredContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.medallion {
  width: 70px;
  height: 70px;
  background-color: $color-dublin;

  border-radius: 15px;

  @include centeredContent();
}

.rating {
  width: 56px;
  height: 56px;
  font-size: 25px;
  color: $color-sofia;
  background-color: $color-beirut;
  border-radius: 10px;

  font-family: iviSans;
  font-weight: 400;

  @include centeredContent();
}

.photo {
  width: 56px;
  height: 56px;
  border-radius: 10px;
}

.title {
  color: $color-dublin;
  width: 70px;
  text-align: center;
  padding-top: 6px;
  font-size: 12px;

  font-family: iviSans;
  font-weight: 500;
}
