.drama {
  &::before {
    content: "\E182";
  }
  &::after {
    content: "\E183";
  }
}

.comedy {
  &::before {
    content: "\E165";
  }
  &::after {
    content: "\E183";
  }
}

.action {
  &::before {
    content: "\E144";
  }
  &::after {
    content: "\E143";
  }
}

.horror {
  &::before {
    content: "\E1F5";
  }
  &::after {
    content: "\E1F4";
  }
}

.adventures {
  &::before {
    content: "\E14D";
  }
  &::after {
    content: "\E14C";
  }
}

.foreign {
  &::before {
    content: "\E19E";
  }
  &::after {
    content: "\E19F";
  }
}

.melodramas {
  &::before {
    content: "\E1BB";
  }
  &::after {
    content: "\E1BC";
  }
}

.fantastic {
  &::before {
    content: "\E191";
  }
  &::after {
    content: "\E190";
  }
}

.fantasy {
  &::before {
    content: "\E196";
  }
  &::after {
    content: "\E195";
  }
}

.family {
  &::before {
    content: "\E18B";
  }
  &::after {
    content: "\E18C";
  }
}

.detective {
  &::before {
    content: "\E172";
  }
  &::after {
    content: "\E171";
  }
}

.horror {
  &::before {
    content: "\E1A7";
  }
  &::after {
    content: "\E1A6";
  }
}

.military {
  &::before {
    content: "\E1BF";
  }
  &::after {
    content: "\E1C0";
  }
}

.crime {
  &::before {
    content: "\E16E";
  }
  &::after {
    content: "\E16D";
  }
}

.western {
  &::before {
  }
  &::after {
    content: "\E240";
  }
}

.biography {
  &::before {
    content: "\E15D";
  }
  &::after {
    content: "\E15C";
  }
}

.sport {
  &::before {
    content: "\E1F0";
  }
  &::after {
    content: "\E1EF";
  }
}
