@import "./vars.scss";

%template-container {
  width: $width-container;
  margin: 0 auto;

  @media (max-width: $width-container) {
    width: 100%;
    padding: 0 32px;
  }
}

%template-link {
  color: $color-sofia;
  transition: 0.2s;
  opacity: $opacity-tesa;

  &:hover {
    opacity: $opacity-imi;
  }
}

%template-color-button {
  transition: 0.2s;

  color: $color-axum;
  background-color: $color-varna;

  &:hover {
    background-color: $color-harn;
  }
}

%template-link-button {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 6px;
  color: $color-sofia;
  background-color: $color-varna;

  border-radius: 8px;

  transition: 0.2s;
  &:hover {
    background-color: $color-berbera;
  }
}
