@import "./vars.scss";

%template-container {
  width: $width-container;
  margin: 0 auto;

  @media (max-width: 1160px) {
    width: 65%;
  }

  @media (max-width: 880px) {
    width: 100%;
  }
}

%template-container_little {
  width: 596px;
  margin: 0 auto;

  @media (max-width: $width-container) {
    width: 100%;
    padding: 0 32px;
  }
}

%template-link {
  color: $color-sofia;
  transition: 0.2s;
  opacity: $opacity-tesa;

  &:hover {
    opacity: $opacity-imi;
  }
}

%template-link-button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 12px;

  gap: 6px;
  color: $color-sofia;
  background-color: $color-varna;

  border-radius: 8px;

  transition: 0.2s;

  cursor: pointer;
  &:hover {
    background-color: $color-berbera;
  }
}
