* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background: none;
  font-family: iviSans;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

input {
  border: none;
  outline: none;
  font-family: iviSans;
  background: none;
}
