@import "../../../../../shared/index.scss";

.ratingDropdown {
  width: 195px;
  margin-top: -16px;
}

.list {
  margin-top: 16px;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  row-gap: 12px;

  .item {
    display: inline-block;
    width: 100%;
  }
}
