@import "@/shared/index.scss";

.mainPage {
  min-height: 100vh;
  overflow: hidden;
}
.container {
  @extend %template-container;

  display: flex;
  flex-direction: column;
  gap: 48px;
}

.teaserBlock {
  width: 100%;
  margin-top: -24px;
  display: flex;
  gap: 24px;

  @media (max-width: 880px) {
    flex-direction: column;
    gap: 16px;
  }

  .link {
    height: 48px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    color: $color-sofia;
    @include set-font(15px, 20px, 500);

    border-radius: 8px;

    background-color: $color-varna;

    transition: 0.2s;

    &_subscription {
      background-image: url("https://solea-parent.dfs.ivi.ru/picture/bypass/teaserTilePattern_a.svg");
      background-size: auto 48px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }

    &_certificate {
    }

    &:hover {
      background-color: $color-harn;
    }
  }
}

.watchTV {
  color: $color-tbilisi;

  & p {
    margin-bottom: 16px;
  }
}
