@import "@/shared/index.scss";

.header {
  @extend %template-container;
  display: flex;
  align-items: center;
  height: 72px;

  position: relative;

  z-index: 5;
}

.link {
  @extend %template-link;
  @include set-font(15px, 20px, 500);
  white-space: nowrap;

  &_bell {
    padding-left: 12px;
  }

  &_auth {
    padding-left: 12px;
  }

  &:hover ~ .dropdown {
    visibility: visible;
    z-index: -1;
  }
}

.logoBlock {
  width: 66px;
  height: 48px;
}

.navigate {
  .navigateList {
    margin-left: 16px;
    display: flex;
    align-items: center;

    & > li {
      margin-left: 16px;
    }
  }

  @media (max-width: 1160px) {
    display: none;
  }
}

.wideBlock {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;

  & > * {
    margin-right: 20px;
  }

  .subscriptionButton {
    color: $color-sofia;
    border-radius: 8px;
    padding: 7px 11px;
    background-color: $color-madrid;
    background-image: linear-gradient(270deg, $color-madrid, #c447ff);
    @include set-font(13px, 16px, 500);
  }
}

.link {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  font-family: IconFont;
  font-size: 20px;

  &_search {
    display: flex;
    gap: 8px;

    &::before {
      font-size: 20px;
      font-weight: 700;
      content: "\E173";
      padding-bottom: 8px;
    }
  }

  &_bell {
    padding: 12px;

    &::before {
      font-size: 16px;
      font-weight: 500;
      content: "\E2FA";
    }
  }

  &_auth {
    padding: 12px;

    border: 2px solid $color-sofia;
    border-radius: 8px;
    &::before {
      content: "\E051";
    }
  }
}
