@import "../../../shared/index.scss";

.genreCard {
  padding: 24px 8px;

  @extend %template-color-button;

  border-radius: 8px;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 600px) {
    padding: 16px 8px;
  }
}

.imageWrapper {
  width: 32px;
  height: 32px;

  position: relative;

  font-family: IconFont !important;
  font-size: 32px;

  &::before {
    color: red;
    position: absolute;
    top: 0;
    left: 0;
  }
  &::after {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.title {
  margin-top: 8px;
  @include set-font(15px, 20px, 500);
  color: $color-sofia;
}
